.puzzle {
    background: #81683E;
    border: 8px solid #937667;
    display: grid;

    height: fit-content;
    width: fit-content;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    grid-gap: 8px;
    user-select: none;

    grid-template-columns: repeat(var(--nrows), var(--cell_width));
    grid-template-rows: repeat(var(--nrows), var(--cell_width));

    --cell_width: 48px;
    font-size: 24px;

    @media (min-width:500px) {
        --cell_width: 64px;
        font-size: 36px;
    }

    --nrows: 3;

    .tile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        background: white;
        cursor: pointer;

        border-radius: 16px;

        transition: transform .5s ease;

        &.empty {
            opacity: 0;
            pointer-events: none;
        }

        &.error {
            background-color: #feae96;

        }

        &.success {
            background-color: #3bb78f;

        }

    }
}