<div class="content-container">
    <div class="header-container">
        <div class="title">
            <p>Enter the Initial State and a Goal State and let me find the best possible moves.</p>
        </div>
        <div class="input-container">

            <div class="input-state state">
                <p class="header">Initial State</p>
                <p class="desc">
                    Enter space seperated input state, indicate blank with 0. For Example. 1 2 3 4 0 5 6 7 8
                </p>
                <div class="text">

                    <input placeholder="Initial State" type="text" name="text" class="input"
                        id="solver-puzzle-initial-input" [(ngModel)]="inputConfig.enteredValue">
                    <p class="input-error error" *ngIf="inputConfig.inputError">Enter Valid Numbers</p>
                </div>
                <button class="generate-button" (click)="generateInitialPuzzle()">Generate</button>
                <div class="board-container" *ngIf="inputConfig.displayPuzzle">
                    <app-board #board [puzzleSize]=inputConfig.puzzleSize [puzzleState]=inputConfig.puzzleState
                        [solutionState]=inputConfig.solutionState [solutionState]=inputConfig.solutionState
                        [displayPuzzle]=inputConfig.displayPuzzle [mode]=inputConfig.mode></app-board>
                </div>
            </div>

            <div class="goal-state state">
                <p class="header">Goal State</p>
                <p class="desc">
                    Enter space seperated input state, indicate blank with 0. For Example. 1 2 3 4 5 6 7 8 0
                </p>
                <div class="text">

                    <input placeholder="Goal State" type="text" name="text" class="input" id="solver-puzzle-goal-input"
                        [(ngModel)]="goalConfig.enteredValue">
                    <p class="input-error error" *ngIf="goalConfig.inputError">Enter Valid Numbers</p>
                </div>
                <button class="generate-button" (click)="generateGoalPuzzle()">Generate</button>
                <div class="board-container" *ngIf="goalConfig.displayPuzzle">
                    <app-board #board [puzzleSize]=goalConfig.puzzleSize [puzzleState]=goalConfig.puzzleState
                        [solutionState]=goalConfig.solutionState [solutionState]=goalConfig.solutionState
                        [displayPuzzle]=goalConfig.displayPuzzle [mode]=inputConfig.mode></app-board>
                </div>

            </div>

        </div>

    </div>

    <div class="solver-information-container">
        <div class="info">

            <div class="dropdown-container">
                <p class="desc">
                    Choose and algorithm to solve
                </p>
                <div class="dropdown">
                    <select id="solver-algorithm-dropdown">
                        <option *ngFor="let algorithmKey of solverAlgorithms | keyvalue" value="{{algorithmKey.key}}">
                            {{algorithmKey.value}}</option>
                    </select>
                </div>

            </div>
            <button class="solve-button" (click)="solvePuzzle()">Solve</button>
        </div>
        <div class="error-container">
            <p class="solver-error-size error" *ngIf="errorConfig.mismatchedSize">The input and output states have
                mismatched sizes.</p>
            <p class="'solver-error-parity error" *ngIf="errorConfig.parityError">
                The goal state can not be reached from this input state. <a target="_blank"
                    href="https://en.wikipedia.org/wiki/15_puzzle#Solvability">Know More.</a>
            </p>
        </div>
        <div class="solver-loader" *ngIf="showSolverLoader">
            <div class="text">Searching for an optimal solution!.</div>
            <div class="banter-loader">
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
                <div class="banter-loader__box"></div>
            </div>
        </div>
        <div class="solver-result-container" *ngIf="solutionFound || solutionNotFound">
            <p class="solution-found" *ngIf="solutionFound">Solution Found.</p>
            <p class="solution-not-found" *ngIf="solutionNotFound">Solution Not Found. <a target="_blank"
                    href="https://en.wikipedia.org/wiki/15_puzzle#Solvability">Know More.</a></p>
        </div>
        <div class="solved-puzzle-container" *ngIf="solutionConfig.showSolvedBoard">
            <div class="info">
                <p>Total Nodes Expanded: {{totalNodes}}</p>
                <p>Total Nodes in Queue: {{maxQueueSize}}</p>
                <p>Path to Solve. Move the blank</p>
                <p>{{path}}</p>
                <p>Depth of solution: {{depth}}</p>
            </div>
            <div class="board-container" *ngIf="solutionConfig.displayPuzzle">
                <app-board #board [puzzleSize]=solutionConfig.puzzleSize [puzzleState]=solutionConfig.puzzleState
                    [solutionState]=solutionConfig.solutionState [solutionState]=solutionConfig.solutionState
                    [displayPuzzle]=solutionConfig.displayPuzzle [mode]=solutionConfig.mode
                    [path]=solutionConfig.path></app-board>
            </div>
        </div>
    </div>
</div>