<div class="content-container">
    <div class="header-container">
        <div class="title">
            <p>Generate a random puzzle and try solving it!</p>
        </div>
        <div class="input-container">
            <div class="text">
                <input placeholder="Enter puzzle size (9,16..)" type="text" name="text" class="input"
                    id="player-puzzle-size-input" [(ngModel)]="inputValue">
                <p class="input-error" *ngIf="showPuzzleError">Puzzle size should be perfect square</p>
            </div>
            <button class="generate-button" (click)="generatePuzzle()">Generate</button>
        </div>

    </div>
    <div class="board-container" *ngIf="displayPuzzle">
        <div class="board">
            <app-board #board [puzzleSize]=puzzleSize [puzzleState]=puzzleState [solutionState]=solutionState
                [solutionState]=solutionState [displayPuzzle]=displayPuzzle
                (solvedEvent)="solvedEvent($event)"></app-board>
        </div>
        <div class="message" *ngIf="puzzleSolved">
            <p>Solved!!</p>
        </div>
    </div>

    <div class="buttons-container">
        <button class="btn move-button" (click)="resetToOriginal()">Reset</button>
        <button class="btn move-button" (click)="movePuzzleToSolver()"
            title="In case you were not able to solve it and would like to see the solution. Click me!">Move puzzle to
            Solver</button>
    </div>

</div>